# Mac files
.DS_Store
.idea

# Distribution
env/
build/
.Python
lib/
lib64/

# Django
.log

# Jupyter
.ipnyb_checkpoints

#Virtual Env
.venv/
venv/
venv/*
venv
ENV/

# IDE
.spyderproject
.vscode

# DATA
data/
videodataset/

# PyCache
__pycache__
__pycache__/

# Configuration Files
local.env

# IPython
notebooks/

# Locally added libraries
additional_libraries/